<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.7.2" />
        <httpRuntime targetFramework="4.7.2" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="SMS_Service.Contract.StudentContract">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:54086/StudentService" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" contract="SMS_Service.Contract.IStudentContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SMS_Service.Contract.ScholarshipContract">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:54086/ScholarshipService" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" contract="SMS_Service.Contract.IScholarshipContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SMS_Service.Contract.ScholarshipApplicationContract">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:54086/ScholarshipApplicationService" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" contract="SMS_Service.Contract.IScholarshipApplicationContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <protocolMapping>
            <add binding="basicHttpsBinding" scheme="https" />
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
