<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="http://localhost:54087/IStudentService"
					  binding="basicHttpBinding"
					  contract="SMS_Service.Contract.StudentContract"
					  name="StudentServiceEndpoint"/>
			<endpoint address="http://localhost:54087/IScholarshipService"
                binding="basicHttpBinding"
                contract="SMS_Service.Contract.ScholarshipContract"
                name="ScholarshipServiceEndpoint"/>
			<endpoint address="http://localhost:54087/IScholarshipApplicationService"
                binding="basicHttpBinding"
                contract="SMS_Service.Contract.ScholarshipApplicationContract"
                name="ScholarshipApplicationServiceEndpoint"/>
		</client>
	</system.serviceModel>
</configuration>
